.navbar-cart {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .cart-icon {
    font-size: 20px;
    margin-right: 5px;
  }

  .cart-count {
    background-color:white;
    color:  #333;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 50%;
  }